# R & RStudio
.Rproj.user/
.Rhistory

# Quarto
*_files/
*.html
*.pdf
figures/*
*.rmarkdown

# Retain the title page 
!reveal-extra/title-block.html

# LaTeX
*.tex
*.aux
*.log

# Excel
~$*.xlsx

# Files that are technically owned by the University
UoW-workshops/
UoW-archive/
UoW-assessment/
UoW-assignments/
