# RStudio & qmd files
.Rproj.user/
*_files/
*.html
*.pdf
.Rhistory
figures/*
*.rmarkdown
*.tex
*.aux
*.log

# Files that are technically owned by the University
UoW-workshops/
UoW-archive/
UoW-assessment/
UoW-assignments/
