/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i); 
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,200i,300,300i,400,400i,700);

// fonts
$font-family-sans-serif: "Fira Sans", sans-serif;
$presentation-font-size-root: 45px;
$presentation-line-height: 1.1;

// headings
$presentation-heading-font: 'Roboto', sans-serif;
$presentation-heading-color: #221F1F;
$presentation-heading-font-weight: 700;

// code
$code-block-font-size: 28px;
$code-block-bg: white;
$code-block-border-color: #383d3d;

// colors
$body-bg: #f8f8ff;
$body-color: #221F1F;
$link-color: #221F1F;
$link-color-hover: #d22;

/*-- scss:rules --*/

//--------------------------------//
// revealjs specific enhancements //
//--------------------------------//

.reveal .progress {
  color: tomato;
  height: 5px;
}

.reveal a {
  color: #0051BA;
}

.reveal .slide-number a {
  color: #221F1F !important;
}

.reveal blockquote {
  font-size: 100%;
  border-left: 0.25em solid tomato;
  color: #4d4d4d;
}

.reveal .slide ul, .reveal .slide ol {
  margin-bottom: 0em !important;
  line-height: 0.9;
}

.reveal .slide li li, .reveal .slide li li {
  font-size: 0.9em;
  line-height: 0.8;
  list-style-type: circle;
}

.reveal small {
  font-size: 0.7em;
}

.reveal .columns > .column > :not(ul,ol) {
  margin-left: 0em !important;
  margin-right: 0em !important;
}

.reveal code {
  font-size: 97.5%;
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  color: #399ee6;
}

.cell-output-display img {
  border: thin solid #383d3d;
}

.reveal pre code {
  padding: 8px;
  background-color: white;
  border: thin solid #383d3d;
  border-radius: 4px;
}

code span.co {
  color: #8f5902;
  font-style: italic;
}

.cell-output-stdout {
  margin-top: 13px;
  margin-bottom: 13px;
}

.reveal figcaption {
  margin-top: -8pt;
}

//-----------//
// Bonus CSS //
//-----------//

.reveal .definition {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 0.4em 0.2em;
  border: 0.1em solid orange;
  background-color: rgba(255, 165, 0, 0.1);
}

.parskip-16pt > p {
  margin-bottom: 16pt;
}

.li-line-height-1-1 ol li, .li-line-height-1-1 ul li {
  line-height: 1.1;
}

//---------------------------------------//
// Table CSS in a Minitab inspired style //
//---------------------------------------//

.orchid-table table {
  border: none;
  border-top: solid darkblue !important;
  border-bottom: solid darkblue !important;
}

.orchid-table table td {
  padding: 10px;
  border: none;
}

.orchid-table table th {
  color: darkblue;
  padding: 10px;
  font-weight: normal;
  font-style: italic;
}

.orchid-table table thead, .orchid-table table tfoot, .orchid-table table tr:nth-child(even) {
  background: #f8f4ff;
}

//----------------------------------//
// Table CSS in an Excel-like style //
//----------------------------------//

.excel table {
  margin: 0;
  background: white;
  border: none;
  font-size: 0.75em;
}

.excel table td, .excel table th {
  border: 0.05em solid black !important;
}

.excel table th {
  font-weight: normal;
  background: lightgray;
  text-align: center !important;
}

.excel table td:nth-child(1) {
  background: lightgray;
}

.excel-caption {
  font-size: 0.75em;
}

.excel-caption code {
  color: #4758AB;
}

//-------------------//
// MathJax specifics //
//-------------------//

.MathJax-Font {
  font-family: serif;
  font-style: italic;
}

//---------------------//
// pdf print specifics //
//---------------------//

html.print-pdf .reveal .slide aside {
  bottom: 1.4em;
}

html.print-pdf .reveal .slide aside div {
  margin-bottom: 18.3px !important;
}

html.print-pdf .reveal .slide aside .aside-footnotes {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

html.print-pdf .reveal .slides .pdf-page:last-child {
  page-break-after: avoid;
}

html.print-pdf .reveal pre code {
  font-family: "Source Code Pro", "Lucida Console", Monaco, monospace !important;
}

.printOnly {
  visibility: hidden;
}

html.print-pdf .reveal .printOnly {
  color: blue;
  visibility: visible;
}

//---------//
// colours //
//---------//

.tomato {
  color: tomato;
}

.steelblue {
  color: steelblue;
}

.orchid {
  color: orchid;
}

.darkorange {
  color: darkorange;
}

.orange {
  color: orange;
}

.periwinkle {
  color: #CCCCFF;
}

.teal {
  color: teal;
}

.red {
  color: red;
}

.cornflowerblue {
  color: cornflowerblue;
}

.codeColour {
  color: #399ee6;
}

/* 

.reveal .definition-orchid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 0.4em 0.2em;
  border: 0.1em solid orchid;
  background-color: rgba(218, 112, 214, 0.1);
}

.reveal .definition-teal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 0.4em 0.2em;
  border: 0.1em solid teal;
  background-color: rgba(0, 128, 128, 0.1);
}

.reveal .definition-periwinkle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.2em 0.4em 0.2em;
  border: 0.1em solid #CCCCFF;
  background-color: rgba(204, 204, 255, 0.1);
}

.reveal .hat {
  position: absolute; 
  left: 11px; 
  line-height: 0.9; 
  transfrom: scale(4,0.5); 
  display: inline-block;
}

.reveal video {
  margin: auto;
  display: block;
}

*/
